body{
  font-family: $en-font-size,$tw-font-size, sans-serif;
  line-height: 1.5;
}


a{
  text-decoration: none;
}



img{
  object-fit: cover;
}

header{
  border-bottom: 1px solid linear-gradient(to right, $greenLight, $blueLight);

}