.index__h1 {
  color: #00cc99;
  font-size: 20px;
  font-weight: 400;
}


.logo {
  width: 24px;
  height: 24px;
  text-indent:101%; /*首行縮排*/
  overflow:hidden; /*自動隱藏超出的文字或圖片*/
  white-space:nowrap; /*希望元素在第一排上面，沒有斷行*/
  background-image: url(../../assets/images/logo2.svg);
  background-repeat: no-repeat;
  @include media-breakpoint-up(md) {
    width: 174px;
    height: 42px;
    background-image: url(../../assets/images/logo.svg);
  }

}

.hand-in-hand {
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    border-bottom: 3px solid $greenLight;
    top: calc(100% + 16px);
    left: calc(50% - 25px);
  }

  @include media-breakpoint-up(xl){
    &::before {
      left: 0px
    }
  }
}

.bg-home {

  background-image: url(../../assets/images/bg_home_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 336px;

  h2 {
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(#09acf5, #62db54);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  // background-image: url(../../assets/images/bg_home.jpg);
  @include media-breakpoint-up(md) {
    background-image: url(../../assets/images/bg_home.jpg);
    height: 680px;
    h2 {
      font-size: 32px;
    }
  }
  @include media-breakpoint-up(xl) {
    background-image: url(../../assets/images/bg_home.jpg);
    height: 680px;
    h2 {
      font-size: 48px;
      line-height: 70px;

    }
  }
}

.square {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

.services {
  .material-icons {
    font-size: 50px;
  }

  &-item {
    border: 1px solid transparent;
    background-color: $blackDark;

    &:hover {
      border: 1px solid $greenLight;
      border-radius: 12px;
      background-color: $blackDark;

      .material-icons {
        background: linear-gradient(#09acf5, #62db54);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    .material-icons {
      background: linear-gradient(#09acf5, #62db54);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    @include media-breakpoint-up(md) {
      background-color: $primary;

      .material-icons {
        color: $white;
      }
    }
  }

}

.process {
  &-expected {
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      border-bottom: 3px solid $greenLight;
      top: calc(100% - 40px + 16px);
      left: calc(50% - 25px);

      @include media-breakpoint-up(md) {
        top: calc(100% - 60px + 16px);

      }
    }

  }

  .card {
    border: 1px solid white;
    border-radius: 12px;

  }

  .cardpseudo {
    font-size: 3rem;
    line-height: 56px;
    font-weight: 700;
    color: $greenLight;
    position: absolute;
    background: $secondary;
    top: 0;
    left: 40px;
    transform: translateY(-50%) !important;
  }
}

.study {
  &-expected {
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      border-bottom: 3px solid $greenLight;
      top: calc(100% - 40px + 16px);
      left: calc(50% - 25px);

      @include media-breakpoint-up(md) {
        top: calc(100% - 64px + 16px);
      }
    }
  }

  .swiper-slide {
    width: auto !important;
    margin-right: 16px !important;
    text-align: center;
    font-size: 18px;
    background: $primary;
    padding: 16px;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    display: inline;

    @include media-breakpoint-up(sm) {
      padding: 24px 32px;
    }

    &:hover {
      background-color: $white;
      color: black;
    }
  }

  h3 {
    max-width: 216px;

    @include media-breakpoint-up(sm) {
      max-width: 100%;
    }
  }
}

.popular {
  &-expected {
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      border-bottom: 3px solid $greenLight;
      top: calc(100% - 40px + 16px);
      left: calc(50% - 25px);
      
      @include media-breakpoint-up(md) {
        top: calc(100% - 64px + 16px);
      }
    }
  }

  .card {
    border-radius: 24px;
    border: 2pt solid transparent;

    img {
      width: 100px;
      height: 100px;
    }

    &:hover {
      border: 2pt solid $greenLight;
    }
  }

  .card-body {
    // h5 {
    //   height: 58px;
    // }

    p {
      -webkit-line-clamp: 3;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }

  .card-footer {
    border-top: 1px solid $whiteFooter;
    padding: 16px 24px;

    a:hover {
      opacity: 1;
    }
  }

  .btn {
    padding: 8px 32px;
    font-size: 18px;
    line-height: 26px;
    background: linear-gradient(104deg, #09acf5, #62db54);
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    border: transparent;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.strengths {

  &Bg1,
  &Bg2,
  &Bg3,
  &Bg4 {
    background-image: url(../../assets/images/info01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 263px;

    @include media-breakpoint-up(md) {
      height: 615px;
    }

    .material-icons {
      color: $greenLight;

      @include media-breakpoint-up(md) {
        color: $white;
      }
    }
    &:hover{
      .material-icons {
        color: $greenLight;
      }
      h4::before {
        border-bottom: 3pt solid $greenLight;
        width: 70px;
        opacity: 1;
      }
      p{
        opacity: 1;
      }
    }

    &-Pseudo {
      position: absolute;
      width: 100%;
      height: 100%;
      background: $secondary;
      opacity: .9;
      z-index: 0;
      transition: all 0.4s;
      @include media-breakpoint-up(lg) {
        opacity: .8;
        z-index:2;
      }

      &:hover {
        opacity: 0;
      }
    }

    &-content {
      z-index: 1;

      h4 {
        &::before {
          content: "";
          position: absolute;
          width: 50px;
          top: calc(100% - 48px + 16px);
          left: calc(50% - 25px);
          border-bottom: 3pt solid $greenLight;
          transition: all 0.4s;

          @include media-breakpoint-up(md) {
            left: 0;
            border-bottom: 3pt solid $whiteFooter;
          }
        }

        &:hover::before {
          border-bottom: 3pt solid $greenLight;
          width: 70px;
        }
      }
      p{
        opacity: 0.5;
      }
    }
  }

  &Bg2 {
    background-image: url(../../assets/images/info02.jpg);
  }

  &Bg3 {
    background-image: url(../../assets/images/info03.jpg);
  }

  &Bg4 {
    background-image: url(../../assets/images/info04.jpg);
  }
}

.article {
  &-expected {
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      border-bottom: 3px solid $greenLight;
      top: calc(100% - 40px + 16px);
      left: calc(50% - 25px);
      
      @include media-breakpoint-up(md) {
        top: calc(100% - 64px + 16px);
      }
    }
  }

  .squareRounded {
    display: none;
    width: 32px;
    height: 32px;

    &-topLeft {
      border-top: 2px solid $greenLight;
      border-left: 2px solid $greenLight;
      border-top-left-radius: 10px;
    }

    &-topRight {
      border-top: 2px solid $greenLight;
      border-right: 2px solid $greenLight;
      border-top-right-radius: 10px;
    }

    &-bottomLeft {
      border-bottom: 2px solid $greenLight;
      border-left: 2px solid $greenLight;
      border-bottom-left-radius: 10px;
    }

    &-bottomRight {
      border-bottom: 2px solid $greenLight;
      border-right: 2px solid $greenLight;
      border-bottom-right-radius: 10px;
    }
  }

  .card:hover {
    .squareRounded {
      display: block;
    }
  }

}

.jointeather {
  &Scope {
    max-width: 966px;
    border: 1px solid $blackDark;
    border-radius: 24pt;
    background-color: $blackDark;
  }

  .material-icons {
    font-size: 100px;
    opacity: .5;
  }
}

.Exclusivecourse {
  .bg-share {
    background-image: url(../../assets/images/bg_share.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 733px;
  }

  &-expected {
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      border-bottom: 3px solid $greenLight;
      top: calc(100% - 60px + 16px);
      left: calc(50% - 25px)
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .feedback {
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
    height: 733px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0;

    @media (max-width:991px) {
      height: auto;
    }
  }

  .swiper {
    width: 100%;
    height: 429px;

    @media (max-width:991px) {
      height: auto;
    }

    &-img {
      top: 0;
      left: 10px;
      width: 60%;
      height: 90%;
      border-radius: 24px;
      position: absolute;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid #7C7E77;
        border-radius: 24px;
        left: -10px;
        top: 10px;
        z-index: -1;

        @media (max-width:991px) {
          left: -5px;
          top: 5px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 24px;
      }

      @media (max-width:991px) {
        position: relative;
        width: calc(100% - 5px);
        height: 213px;
        left: 5px;
        margin-bottom: 40px;
      }
    }

    .card {
      width: 45%;
      padding: 32px;
      border-radius: 24px 24px 24px 0;
      bottom: 0;
      right: 0;
      position: absolute;

      h3 {
        font-size: 18px;
      }

      &-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        right: 32px;
        bottom: 100%;
        transform: translateY(50%);

        @media (max-width:991px) {
          width: 80px;
          height: 80px;
          right: 24px;
          top: -30px;
          bottom: auto;
          transform: none;
        }
      }

      @media (max-width:991px) {
        position: relative;
        width: 100%;
        padding: 24px;
        margin-bottom: 32px;
      }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      content: '';
    }

    &-button-next,
    &-button-prev {
      position: unset;
      width: 24px;
      height: 24px;
      margin-top: 0;
      color: #62DB54;
    }

    .swiper-pagination {
      position: unset;
      width: auto;

      .swiper-pagination-bullet {
        background-color: #62DB54;
        opacity: initial;

        &-active {
          width: 16px;
          border-radius: 100px;
        }
      }
    }

    &-buttons {
      bottom: 0;
      left: 30%;
      transform: translateX(-50%);
      z-index: 10;
      position: absolute;

      @media (max-width: 991px) {
        position: initial;
        transform: none;
      }
    }
  }
}