<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="bg-primary sticky-top position-relative">
    <div class="container">
      <!-- PC  -->
      <nav class="navbar navbar-expand-lg text-white py-0">
        <div class="d-flex justify-content-between align-items-center flex-wrap w-100">
          <h1 class="mb-0 py-4"><a href="./" class="d-block logo">logo</a></h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons fs-4 gradient-text-custom">drag_handle</span>
          </button>
          <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 text-center fs-lg">
              <li class="nav-item"><a href="./index.html" class="nav-link text-white d-block py-12 ps-lg-0 pe-lg-4">首頁</a></li>
              <li class="nav-item"><a href="./course.html" class="nav-link text-white d-block py-12 px-lg-4">課程介紹</a></li>
              <li class="nav-item align-items-center justify-content-center mx-auto ">
                <a href="#"
                  class="d-flex nav-link align-items-center text-white py-12 pe-lg-0 ps-lg-4">
                  <span class="me-1 text-white material-icons d-block">
                    account_circle
                  </span>登入
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header>
  <%- contents %>

    <footer class="footer text-center bg-blackFooter text-whiteFooter py-4 ">
      <p class="mb-0 fs-xs fs-md-6">Coding Home © 2022 All Rights Reserved</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>