<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="bg-primary">
    <div class="container">
      <!-- PC  -->
      <div class="d-none d-md-flex justify-content-between align-items-center">
        <h1 class="mb-0"><a href="./" class="py-4 d-block"><img src="./assets/images/logo.svg" class="logo "
              alt="logo"></a></h1>
        <ul class="list-unstyled mb-0  fs-lg d-none d-md-flex">
          <li><a href="#" class="pe-4 text-white">首頁</a></li>
          <li><a href="#" class="px-4 text-white">課程介紹</a></li>
          <li class="d-flex align-items-center"><a href="#" class="d-flex align-items-center ps-4 text-white"><span
                class="me-1 text-white material-icons d-block">
                account_circle
              </span>登入</a></li>
        </ul>
      </div>
      <!-- mobile -->
      <div class="d-flex justify-content-between align-items-center flex-wrap d-md-none">
        <h1 class="mb-0"><a href="./" class="py-4 d-block"><img src="./assets/images/logo2.svg" class="logo "
              alt="logo"></a></h1>
        <nav class="navbar navbar-dark  d-md-none">
          <div>
            <button class="navbar-toggler p-0" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="material-icons fs-4 gradient-text-custom">drag_handle</span>
            </button>
          </div>
        </nav>
      </div>
      <div class="collapse bg-blackLight" id="navbarToggleExternalContent">
        <ul class="list-unstyled mb-0  text-center d-flex flex-column gap-4 py-4">
          <li><a href="#" class="text-white">首頁</a></li>
          <li><a href="#" class="text-white">課程介紹</a></li>
          <li class="d-flex align-items-center justify-content-center"><a href="#"
              class="d-flex  align-items-center text-white"><span class="me-1 text-white material-icons d-block">
                account_circle
              </span>登入</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex">
      <hr size="2" class="w-50 bg-greenLight">
      </hr>
      <hr size="2" class="w-50 bg-blueLight">
      </hr>
    </div>
  </header>
  <%- contents %>

    <footer class="footer text-center bg-blackFooter text-whiteFooter py-4 ">
      <p class="mb-0">Coding Home © 2022 All Rights Reserved</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>